/* GERAL */
* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/computador.jpg');
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
}

::selection {
    color:white;
    background: purple;
}

/* FONTS */
h1 {
    color: #4F4F4F;
    font-size: 35px;
}

h2 {
    color: #bfbfbf;   
    font-size: 25px;
}

/* SEÇÃO SOBRE */
.secao-sobre {
    background-color: white;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .secao-sobre {background: palevioletred;}
    .sobre-conteudo__redes-sociais img{width: 25%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .secao-sobre {background: lightsalmon;}
    .sobre-conteudo__redes-sociais img{width: 25%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .secao-sobre {background:  lightcoral;}
    .sobre-conteudo__redes-sociais img{width: 25%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .secao-sobre {background: lightpink;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .secao-sobre {background: white;}
}

.sobre-conteudo__img {
    margin-top: 80px;
    border-radius: 50%;
    filter: grayscale(100%);
    max-width: 50%;
}  
    
.sobre-conteudo {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.sobre-conteudo__redes-sociais {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sobre-conteudo__redes-sociais img {
    width: 87px;
    height: 86px;
    margin-left: 40px;
    filter: grayscale(100%);
}

.sobre-conteudo__redes-sociais img:hover{
    filter: none;
}

.sobre-conteudo__redes-sociais img:active{
    filter: saturate(8);
}



